body
{
    background-color: rgb(230, 247,255);
    height: 100vh;
}

nav
{
    width: 21vh;
    height: 100vh;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: rgb(179, 231, 255);
    background-color: white;
    margin: 0;
    position: fixed;
}

nav p
{
    color: rgb(89, 89, 89);
}

#nav-logo
{
    height: 80px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(179, 231, 255); 
}

#logo
{
    height: 70px;
}

a:link
{
    text-decoration: none;
}

li
{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.list-menu
{
    margin-top: 30px;
}

.zone-notif {
    position: relative;
    min-height: 200px;
}

.notif-error-header {
    background-color: rgba(255, 26, 26, 0.8);
    color: white;
}

.notif-error-body {
    background-color: #ffccd4;
}

.notif-info-header {
    background-color: #2878f0;
    color: white;
}

.notif-info-body {
    background-color: #9ec1fa;
}

header
{
    margin-left: 21vh;
    height: 80px;
    background-color: white;
}

section
{
    padding-left: 21vh;
}

.content
{
    padding: 110px 20px 20px 20px;
}

.widget
{
    background-color: white;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
}

.badge-connect
{
    background-color: #dcefdd; 
    color: #4caf50;
    border: 1px solid #95d097;
}

.badge-connecting
{
    background-color: #cfe0fc; 
    color: #0e5bd8;
    border: 1px solid #5793f4;
}

.badge-noconnect
{
    background-color: #ffebee; 
    color: #f44336;
    border: 1px solid #f98E86;
}

.badge-chrono
{
    background-color: #ffecb3;
    color: #ff8205;
    border: 1px solid #ffbf80;
}

.badge-pos
{
    background-color: #ccccff;
    color: #6666ff;
    border: 1px solid #8080ff;
}

.style-chart
{
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.percent
{
    position: absolute;
    margin-top: 90px;
    width: 200px;
}

.title-graph
{
    text-align: center;
}

.card-moove-border
{
    border: 1px solid #8205ff;
}

.card-moove-bg
{
    background-color: #8205ff;
    border-bottom: 1px solid #8205ff; 
}

.card-temp-border
{
    border: 1px solid #00cc33;
}

.card-temp-bg
{
    border-bottom: 1px solid #00cc33;
    background-color: #00cc33;
}

.card-filam-border
{
    border: 1px solid #ff751a;
}

.card-filam-bg
{
    border-bottom: 1px solid #ff751a;
    background-color: #ff751a;
}

.ajust
{
    width: 40%;
    margin-bottom: 15px;
}

.btn-size
{
    width: 40%;
}

/******** supprime les flèches des input type number *********/
/* Firefox */
input[type=number].not-arrow
{
    -moz-appearance: textfield;
}

/* Chrome */
input.not-arrow::-webkit-inner-spin-button,
input.not-arrow::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
/**************************************************************/

.btn-and-status
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

div.btn-and-status h4
{
    margin-bottom: auto;
    margin-top: auto;
}

.graph-bed
{
    height: 400px;
}

.align-graph
{
    display: flex;
    justify-content: center;
}

.graph-bed-bg
{
    background-color: #cccccc;
    width: 300px;
    height: 300px;
    border: 1px solid #8c7373;
    border-radius: 10px;
}

.graph-part1
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.graph-part2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 216px;
}

.graph-part3
{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.graph-part4
{
    display: flex;
    justify-content: start;
    padding-left: 3px;
}

.graph-home
{
    background-color: #00cc00;
    width: 20px;
    height: 20px;
    border: 0px;
    border-radius: 10px;
}

.graph-pos1
{
    background-color: #00cc99;
    width: 20px;
    height: 20px;
    border: 0px;
    border-radius: 10px;
}

.graph-pos2
{
    background-color: #9900ff;
    width: 20px;
    height: 20px;
    border: 0px;
    border-radius: 10px;
}

.graph-pos3
{
    background-color: #ff0021;
    width: 20px;
    height: 20px;
    border: 0px;
    border-radius: 10px;
}

.graph-pos4
{
    background-color: #ff8000;
    width: 20px;
    height: 20px;
    border: 0px;
    border-radius: 10px;
}

.graph-pos5
{
    background-color: #0066ff;
    width: 20px;
    height: 20px;
    border: 0px;
    border-radius: 10px;
}

.btn-pos1
{
    background-color: #00cc99;
    color: white;
}

.btn-pos1:hover
{
    background-color: #009973;
    color: white;
}

.btn-pos2
{
    background-color: #9900ff;
    color: white;
}

.btn-pos2:hover
{
    background-color: #6b00b3;
    color: white;
}

.btn-pos3
{
    background-color: #ff0021;
    color: white;
}

.btn-pos3:hover
{
    background-color: #b30018;
    color: white;
}

.btn-pos4
{
    background-color: #ff8000;
    color: white;
}

.btn-pos4:hover
{
    background-color: #cc6600;
    color: white;
}

.btn-pos5
{
    background-color: #0066ff;
    color: white;
}

.btn-pos5:hover
{
    background-color: #0047b3;
    color: white;
}

hr
{
    background-color: rgb(217, 217, 217);
}

.btn-preheat
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}