body
{
    background-color: rgb(230, 247,255);
    height: 100vh;
}

nav
{
    width: 21vh;
    height: 100vh;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: rgb(179, 231, 255);
    background-color: white; /*rgb(255, 204, 0);*/
    margin: 0;
    position: fixed;
}

nav p
{
    color: rgb(89, 89, 89);
}

#nav-logo
{
    height: 80px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(179, 231, 255); 
}

#logo
{
    height: 70px;
}

a:link
{
    text-decoration: none;
}

li
{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.list-menu
{
    margin-top: 30px;
}

header
{
    margin-left: 21vh;
    height: 80px;
    background-color: white; /*rgb(51, 204, 51);*/
}

section
{
    padding-left: 21vh;
}

.content
{
    padding: 110px 20px 20px 20px;
}

.widget
{
    background-color: white;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
}

.badge-connect
{
    background-color: #dcefdd; 
    color: #4caf50;
    border: 1px solid #95d097;
}

.badge-noconnect
{
    background-color: #ffebee; 
    color: #f44336;
    border: 1px solid #f98E86;
}

.badge-chrono
{
    background-color: #ffecb3;
    color: #ff8205;
    border: 1px solid #ffbf80;
}

.style-chart
{
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.percent
{
    position: absolute;
    margin-top: 90px;
    width: 200px;
}

.title-graph
{
    text-align: center;
}
