{% extends 'account/base.html' %}

{% block content %}

<header>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card limit-card no-border">
                    <div class="card-header text-center no-border">
                        <h3 class="text-light">Connectez-vous a votre compte PrintiPy pour commencer a controler et a surveiller votre imprimante</h3>
                    </div>

                    <div class="card-body text-center">
                        {% if error %}
                        <h3 class="text-danger">Utilisateur incorrect ou mot de passe invalide</h3>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <h3 class="text-white">Vous êtes connectez {{ user.username }}!</h3>
                        {% else %}
                        <form action="{% url 'account:index' %}" method='post'>
                        {% csrf_token %}
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger border-danger"><i class="fas fa-user-alt text-white"></i></span>
                                </div>
                                {{ form.pseudo }}
                                {% comment %} <input type="text" class="form-control" placeholder="Pseudo ou email"> {% endcomment %}
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger border-danger"><i class="fas fa-unlock-alt text-white"></i></span>
                                </div>
                                {{ form.password }}
                                {% comment %} <input type="password" class="form-control" placeholder="Mot de passe"> {% endcomment %}
                            </div>

                            <div class="form-group">
                                <input class="btn btn-danger float-right" type="submit" value="Connexion">
                            </div>
                        </form>
                        {% endif %}
                    </div>

                    <div class="card-footer no-border">
                        <div class="d-flex justify-content-center links text-white">
                            Vous n'avez pas de compte ?<a href="{% url 'account:sign_up' %}"> Inscrivez-vous</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#">Mot de passe oublié ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

{% endblock content %}