{% extends 'account/base.html' %}

{% block content %}

<header>
    {% if printer_user %}
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-6 big-menu">
                <div class="row h-100">
                    <div class="col-12 my-2">
                        <a href="#" class="no-deco">
                            <!-- card -->
                            <div class="card bo-ra background-gr h-100">
                                <div class="car-body d-flex justify-content-center align-items-center h-100">
                                    <h4 class="text-white">Controler</h4>
                                </div>
                            </div>
                            <!-- end card -->
                        </a>
                    </div><!-- end .col-12 -->
                    <div class="col-12 my-2">
                        <a href="{% url 'printercontrol:dashboard' %}" class="no-deco">
                            <!-- card -->
                            <div class="card bo-ra background-bl h-100">
                                <div class="car-body d-flex justify-content-center align-items-center h-100">
                                    <h4 class="text-white">Surveiller</h4>
                                </div>
                            </div>
                            <!-- end card -->
                        </a>
                    </div><!-- end .col-12 -->
                </div><!-- end .row -->
            </div>

            <div class="col-12 col-lg-6 big-menu">
                <div class="row h-100">
                    <div class="col-12 my-2">
                        <a href="#" class="no-deco">
                            <!-- card -->
                            <div class="card bo-ra background-ye h-100">
                                <div class="car-body d-flex justify-content-center align-items-center h-100">
                                    <h4 class="text-white">Configurer</h4>
                                </div>
                            </div>
                            <!-- end card -->
                        </a>
                    </div><!-- end .col-12 -->
                    <div class="col-12 my-2">
                        <a href="#" class="no-deco">
                            <!-- card -->
                            <div class="card bo-ra background-re h-100">
                                <div class="car-body d-flex justify-content-center align-items-center h-100">
                                    <h4 class="text-white">Mon compte</h4>
                                </div>
                            </div>
                            <!-- end card -->
                        </a>
                    </div><!-- end .col-12 -->
                </div><!-- end .row -->
            </div>

        </div>
    </div>
    {% else %}
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card limit-card no-border">
                    <div class="card-header text-center no-border">
                        <h3 class="text-light">Enregistrer une première imprimante 3D</h3>
                    </div>
                    <div class="card-body text-center">
                        <form action="{% url 'account:create_printer' %}" method='post'>
                        {% csrf_token %}
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger border-danger"><i class="fas fa-print text-white"></i></span>
                                </div>
                                {{ form.name }}
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger border-danger"><i class="fas fa-cube text-white"></i></span>
                                </div>
                                {{ form.model }}
                            </div>
                            <div class="form-group">
                                <input class="btn btn-danger float-right" type="submit" value="Valider">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</header>

{% endblock content %}