{% extends 'account/base.html' %}

{% block content %}

<header>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-6 big-menu">
                <div class="row h-100">
                    <div class="col-12 my-2">
                        <a href="#" class="no-deco">
                            <!-- card -->
                            <div class="card bo-ra background-gr h-100">
                                <div class="car-body d-flex justify-content-center align-items-center h-100">
                                    <h4 class="text-white">Controler</h4>
                                </div>
                            </div>
                            <!-- end card -->
                        </a>
                    </div><!-- end .col-12 -->
                    <div class="col-12 my-2">
                        <a href="{% url 'printercontrol:dashboard' %}" class="no-deco">
                            <!-- card -->
                            <div class="card bo-ra background-bl h-100">
                                <div class="car-body d-flex justify-content-center align-items-center h-100">
                                    <h4 class="text-white">Surveiller</h4>
                                </div>
                            </div>
                            <!-- end card -->
                        </a>
                    </div><!-- end .col-12 -->
                </div><!-- end .row -->
            </div>

            <div class="col-12 col-lg-6 big-menu">
                <div class="row h-100">
                    <div class="col-12 my-2">
                        <a href="#" class="no-deco">
                            <!-- card -->
                            <div class="card bo-ra background-ye h-100">
                                <div class="car-body d-flex justify-content-center align-items-center h-100">
                                    <h4 class="text-white">Configurer</h4>
                                </div>
                            </div>
                            <!-- end card -->
                        </a>
                    </div><!-- end .col-12 -->
                    <div class="col-12 my-2">
                        <a href="#" class="no-deco">
                            <!-- card -->
                            <div class="card bo-ra background-re h-100">
                                <div class="car-body d-flex justify-content-center align-items-center h-100">
                                    <h4 class="text-white">Mon compte</h4>
                                </div>
                            </div>
                            <!-- end card -->
                        </a>
                    </div><!-- end .col-12 -->
                </div><!-- end .row -->
            </div>

        </div>
    </div>
</header>

{% endblock content %}