{% extends 'printercontrol/base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 widget p-3">
                <div>
                    <p class="lead" id="printerId" data-id="{{ printers.0.id }}">{{ printers.0.name }}</p>
                </div>
                {% if printers.0.status == 'Non connectée' %}
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-primary" id="btnConnect">Connexion</button>
                    <h4><span class="badge badge-pill badge-noconnect" id="printerStatus" data-status="{{ printers.0.status }}">{{ printers.0.status }}</span></h4>
                </div>
                <div class="progress mt-2 d-none" id="connectingProgress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progressBarStatus"></div>
                </div>
                {% else %}
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-info" id="btnConnect">Dé connexion</button>
                    <h4><span class="badge badge-pill badge-connect" id="printerStatus" data-status="{{ printers.0.status }}">{{ printers.0.status }}</span></h4>
                </div>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="modalConnect" tabindex="-1" role="dialog" aria-labelledby="modalConnectLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="modalConnectTitle">Paramètre de connexion</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div><!-- end .modal-header -->
                            <div class="modal-body my-3">
                                <!-- Group parametre -->
                                <!-- Port -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="selectPort">Port série</label>
                                    </div><!-- end .input-group-prepend -->
                                    <select class="custom-select" id="selectPort">
                                        <option selected>Selectionnez un port</option>
                                        <option value="/dev/ttyUSB0">ttyUSB0</option>
                                        <option value="/dev/ttyUSB1">ttyUSB1</option>
                                        <option value="/dev/ttyUSB2">ttyUSB2</option>
                                        <option value="/dev/ttyUSB3">ttyUSB3</option>
                                    </select>
                                </div><!-- end .input-group -->

                                <!-- Baudrate -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="selectBaudrate">Baudrate</label>
                                    </div><!-- end .input-group-prepend -->
                                    <select class="custom-select" id="selectBaudrate">
                                        <option selected>Selectionnez une valeur</option>
                                        <option value="250000">250000</option>
                                        <option value="230400">230400</option>
                                        <option value="115200">115200</option>
                                        <option value="57600">57600</option>
                                        <option value="38400">38400</option>
                                        <option value="19200">19200</option>
                                        <option value="9600">9600</option>
                                    </select>
                                </div><!-- end .input-group -->

                            </div><!-- end .modal-body -->
                            <div class="modal-footer d-flex justify-content-between">
                                <button type="button" class="btn btn-success" data-dismiss="modal" id="saveConfig">Enregistrer</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div><!-- end .modal-footer -->
                        </div><!-- end .modal-content -->
                    </div><!-- end .modal-dialog -->
                </div><!-- end .modal-fade -->
            </div>

            <div class="col-12 col-lg-7 offset-lg-1 widget pt-3">
                <div>
                    <p class="lead">Impression en cours: 'nom du fichier'</p>
                </div>
                <div class="progress">
                    <!-- rajouter 'animated' a progresse-bar pour ajouter l'annimation de la bar de progression -->
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" id="statusPrinting"></div>
                </div>
                <div>
                    <p class="lead text-right"><span class="badge badge-pill badge-chrono">02 h 46 min</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5">
        <div class="row">

            <!-- nozlle -->
            <div class="col-12 col-lg-6">
                <div class="widget pb-3 px-3">
                    <p class="lead title-graph mt-3">Buse</p>
                    <div class="chartNozzle style-chart mb-3" data-percent="89">
                        <span class="percent"></span>
                    </div>
                    <canvas id="chartNozzle"></canvas>
                </div>
            </div>

            <!-- bed -->
            <div class="col-12 col-lg-6">
                <div class="widget pb-3 px-3">
                    <p class="lead title-graph mt-3">Plateau</p>
                    <div class="chartBed style-chart mb-3" data-percent="50">
                        <span class="percent"></span>
                    </div>
                    <canvas id="chartBed"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'printercontrol/js/connectprinter.js' %}"></script>
<script src="{% static 'printercontrol/js/temperatureEasyPieChart.js' %}"></script>
<script src="{% static 'printercontrol/js/temperatureChartJs.js' %}"></script>
{% endblock script %}