body
{
    height: 100vh;
    background: linear-gradient(to bottom, rgba(87, 92, 66, 0.5) 0%, rgba(87, 92, 66, 0.5) 100%), url("../img/plexus-beautiful.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header.metahead
{
    height: 70px;
} */