body
{
    /* background: linear-gradient(to bottom, rgba(87, 92, 66, 0.5) 0%, rgba(87, 92, 66, 0.5) 100%), url("../img/plexus-beautiful.jpeg"); */
    background-image: url("../img/plexus-beautiful.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 2560px) {
    header
    {
        height: 92vh;
    }

}

@media (min-width: 1920px) {
    header
    {
        height: 88.7vh;
    }
}

.limit-card
{
    background-color: rgba(255, 255, 255, 0);
    width: 40%;
}

.no-border
{
    border: 0;
}

.big-menu
{
    height: 50vh;
}

.no-deco:hover
{
    text-decoration: none;
}

@media (max-width: 1200px) {
    .limit-card
    {
        background-color: rgba(255, 255, 255, 0);
        width: 80%;
    }

    .big-menu
    {
        height: 40vh;
    }
}